{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной контент: #}
{% block main %}
<div>
    <h1>Умножение чисел</h1>
    
    <form method="post" action="/lab4/mul">
        <div>
            <input type="number" name="x1" placeholder="1">
            <span>×</span>
            <input type="number" name="x2" placeholder="1">
            <input type="submit" value="=">
        </div>
    </form>
    <br>
    <div style="color: #666; font-style: italic;">
        Пустые поля считаются как 1
    </div>
</div>
<br>
<br>
<a href="/lab4/">Меню</a>
{% endblock %}