{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 4{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Регистрация</h1>
    
    <form method="post">
        <div>
            <label for="login">Логин:</label>
            <input type="text" id="login" name="login" value="{{ login_value or '' }}" required>
        </div>
        
        <div>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" value="{{ name_value or '' }}" required>
        </div>
        
        <div>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
        </div>
        
        <div>
            <label for="password_confirm">Подтверждение пароля:</label>
            <input type="password" id="password_confirm" name="password_confirm" required>
        </div>
        
        <div>
            <label>Пол:</label>
            <div>
                <input type="radio" id="male" name="gender" value="male" {% if gender_value == 'male' %}checked{% endif %} required>
                <label for="male">Мужской</label>
            </div>
            <div>
                <input type="radio" id="female" name="gender" value="female" {% if gender_value == 'female' %}checked{% endif %} required>
                <label for="female">Женский</label>
            </div>
        </div>
        
        {% if error %}
        <div style="color: red; margin: 10px 0;">{{ error }}</div>
        {% endif %}
        
        {% if success %}
        <div style="color: green; margin: 10px 0;">{{ success }}</div>
        {% endif %}
        
        <div>
            <button type="submit">Зарегистрироваться</button>
            <button type="reset">Отмена</button>
        </div>
    </form>
    <br>
    Уже есть аккаунт? <a href="/lab4/login">Войдите</a>
    <br>
    <a href="/lab4/">Меню</a>
{% endblock %}