{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 2{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ul>
        <li>
            <a href="/lab2/a">Без слеша</a> 
        </li>
        <li>
            <a href="/lab2/a/">Со слешом</a> 
        </li>
        <li>
            <a href="/lab2/example">Пример шаблона с данными</a>
        </li>
        <li>
            <a href="/lab2/filters">Демонстрация фильтров Jinja2</a> 
        </li>
        <li>
            <a href="/lab2/flowers">Просмотр всего списка цветов</a> 
        </li>
        <li>
            <a href="/lab2/flowers/1">Детальная информация о цветке</a> 
        </li>
        <li>
            <a href="/lab2/add_flower/Орхидея">Добавление нового цветка</a>
        </li>
        <li>
            <a href="/lab2/add_flower/">Тест ошибки 400</a>
        </li>
        <li>
            <a href="/lab2/flowers/rewrite">Очистить список цветов</a>
        </li>
        <li>
            <a href="/lab2/calc/7/5">Математические операции с числами</a>
        </li>
        <li>
            <a href="/lab2/calc/10">Калькулятор (второе число по умолчанию 1)</a>
        </li>
        <li>
            <a href="/lab2/calc/">Калькулятор (два числа равны единице) </a>
        </li>
        <li>
            <a href="/lab2/books">Каталог книг с авторами и жанрами</a>
        </li>
        <li>
            <a href="/lab2/berries/">Ягоды</a> 
        </li>
    </ul>
{% endblock %}