{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Добавлен новый цветок</h1>
    
    <p><strong>Название нового цветка:</strong> {{ name }}</p>
    <p><strong>Всего цветов:</strong> {{ count }}</p>
    <p><strong>Полный список:</strong> {{ flower_list }}</p>
   
    <div>
        <a href="/lab2/flowers">Посмотреть все цветы</a> 
        <br>
        <a href="/lab2/add_flower/Новый цветок">Добавить еще цветок</a> 
        <br>
        <br>
        <a href="/lab2/">Меню</a>
    </div>
{% endblock %}