{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Список книг</h1>

    <div>
        <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr style="background-color: #dfc5af;">
                    <th>№</th>
                    <th>Автор</th>
                    <th>Название книги</th>
                    <th>Жанр</th>
                    <th>Количество страниц</th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td style="text-align: center;">{{ loop.index }}</td>
                    <td style="text-align: center;">{{ book.author }}</td>
                    <td style="text-align: center;">{{ book.title }}</td>
                    <td style="text-align: center;">{{ book.genre }}</td>
                    <td style="text-align: center;">{{ book.pages }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <a href="/lab2/">Меню</a>
    
{% endblock %}

