{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<div>
    <h1>Цветы</h1>

    <div>
        <ol>
            {% for flower in flowers %}
            <li>
            {{ flower }} - {{ flower_prices[flower] }} руб. -
            <a href="/lab2/del_flower/{{ loop.index0 }}">удалить</a>
            </li>
            {% endfor %}
        </ol>
    </div>

    <div>
        <a href="/lab2/del_all_flowers">Удалить все цветы</a>
        <br>
        <a href="/lab2/flowers/rewrite">Восстановить список</a>
    </div>

    <div>
        <h3>Добавить новый цветок:</h3>
        <form action="/lab2/add_flower_form" method="post">
            <input type="text" name="flower_name" placeholder="Название нового цветка" required>
            <button>Добавить</button>
        </form>
    </div>

    <br>
    <a href="/lab2/">Меню</a>
    
</div>
{% endblock %}