{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Все цветы</h1>
    
    <div class="flowers-info">
        <p><i>Общее количество цветов:</i> {{ count }}</p>
    </div>

    {% if flowers %}
        <ul class="flowers-list">
            {% for flower in flowers %}
                <li>{{ flower }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Список цветов пуст</p>
    {% endif %}

    <div class="actions">
        <a href="/lab2/flowers/rewrite">Очистить список цветов</a>
        <br>
        <a href="/lab2/add_flower/Новый_цветок">Добавить цветок</a> 
        <br>
        <br>
        <a href="/lab2/">Меню</a>
    </div>
{% endblock %}