{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Информация о цветке</h1>
    
    <div>
        <p><strong>ID цветка:</strong> {{ flower_id }}</p>
        <p><strong>Название:</strong> {{ flower }}</p>
        <p><strong>Всего цветов в списке:</strong> {{ total_flowers }}</p>
    </div>

    <div>
        <a href="/lab2/flowers">Посмотреть все цветы</a>
        <br>
        <a href="/lab2/add_flower/">Добавить цветок</a> 
        <br>
        <br>
        <a href="/lab2/">Меню</a>
    </div>
{% endblock %}